*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(pexels-veeterzy-303383.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    margin-top: 25px;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li.active a{
    background-color: grey;
    color: brown;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white transparent;
    transition: 0.6 ease;
}
ul li a:hover{
    background-color: grey;
    color: brown;
}
.logo img{
    margin: auto;
    margin-top: 15px;
    margin-left: 5px;
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: wheat;
    font-size: 50px;
}
.button{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 5px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: grey;
    color: brown;
}
